.index-mark{
    width: 100%;
    height: 100%;
    top:0;
    position: fixed;
    z-index: 99;
    opacity: 0.3;
    filter:Alpha(opacity=30);
    background-color: #000;
    display: none;
}
.head{
    height: 210px;
    position: relative;
}
.swiper-container{
    height: 146px;
}
.banner-item a{
	display: block;
}
.banner-item img{
    width: 100%;
}
.search{
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    position: absolute;
    top: 146px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 100;
}
.show.search{
    top: 0px;
    position: fixed;
}
.search-contend{
    margin: 12px 10px;
    padding: 10px 0;
    background-color: #EEF0F1;
    border-radius: 20px;
    text-align: center;
    border-bottom: 1px solid #ECEFF0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show .search-contend{
    margin: 0;
    padding: 17px 10px;
    background-color: #ffffff;
    border-radius: 0px;
    text-align: left;
}
.search-input{
    width: 190px;
    position: relative;
    left: 50%;
    margin-left: -95px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show .search-input{
    left: 0;
    margin-left: 0;
}
.search-input i{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../imgs/icons.png) no-repeat;
    background-position: 0 -120px;
    vertical-align: middle;
    margin-top: -2px;
}
.search-input input{
    width: 150px;
    font-size:14px;
    display: inline-block;
    background-color: #EEF0F1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show .search-input input{
    background-color: #ffffff;
}
.search-btn{
    padding: 0 20px;
    display: inline-block;
    margin-top: 5px;
    color: #6F7C80;
    position: absolute;
    top:0;
    right: -80px;
    border-left: 1px solid #EEF0F0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show .search-btn{
    margin-top: 17px;
    right: -10px;
}
.search-list{
    display: none;
    padding: 12px 0 12px 10px;
    background-color: #F1F4F6;
}
.search-list li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.search-label{
    padding: 5px 10px;
    color: #AD68AD;
    background-color: #EDDEEC;
    display: inline-block;
    border-radius: 3px;
}



.index-contend{
    margin-top: 10px;
    border-top: 1px solid #ECEFF0;
    padding-left: 10px;
    background-color: #ffffff;
}
.index-contend h2{
    padding: 12px 0;
    font-size: 15px;
    color: #A3ACAF;
    font-weight: 500;
    border-bottom: 1px solid #EEF1F2;
}
.index-item{
    display: block;
    padding:10px 30px 10px 90px;
    position: relative;
    border-bottom: 1px solid #F4F6F6;
}
.index-item-img{
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top:10px;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
}
.index-item-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.index-item h3{
    font-size: 17px;
    font-weight: 500;
    color: #58676C;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.index-item p{
    font-size: 15px;
    color: #7A8A8F;
    margin-top: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.index-item p b{
    font-weight: 500;
    color: #7E147E;
    margin-left: 5px;
}
.arrow{
    width: 20px;
    height: 30px;
    display: inline-block;
    background: url("../imgs/icons.png") no-repeat;
    background-position: -8px -372px;
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -15px;
}

@media screen and (max-width: 320px){
    .banner-item img{
        height: 100%;
    }
}