@charset "utf-8";
.grid_c1, .grid_c2a, .grid_c2b, .grid_c3a {margin: 0 auto;width: 1000px;}
.wf_main li{width: 150px;}
.mod_help_item{width: 120px;}
.mod_help_item1{width: 120px;padding-left: 15px;}
.mod_help_item2 {width: 140px;float: left;height: 160px;}
/*空*/
.flow_cart {float: right;margin-top: 10px;font: normal 14px/60px "Microsoft Yahei";position: relative;
margin-bottom: 10px;}
.flow_step ol{width: 450px;height: 25px; background:url(../images/cart.png) no-repeat 0 0 scroll transparent;}
.flow_step_no1 ol{ background-position:0 0;}
.flow_step_no2 ol{ background-position:0 -52px;}
.flow_step_no3 ol{ background-position:0 -100px;}
.flow_step ol li {position: absolute;top: 22px;white-space: nowrap;color: #6dd061;}
.flow_step ol li.step_1 {left: 35px;}
.flow_step ol li.step_2 {left: 182px;}
.flow_step ol li.step_3 {left: 342px;}
.flow_step_no1 .step_1, .flow_step_no2 .step_1, .flow_step_no2 .step_2, .flow_step_no3 .step_1, .flow_step_no3 .step_2, .flow_step_no3 .step_3 {color: #6dd061;font-weight: 700;}
.cart_content{border-top: 2px solid #57c366;width: 100%;padding: 30px 0;}
.goods_empty,.success {margin-bottom: 20px;border: #E3E3E3 solid 1px;background: #f9f9f9;padding: 15px 0;}
.goods_empty_inner{height:200px;width:100%;background:url(../images/cart.png) no-repeat 100px -195px scroll transparent;}
.goods_add_inner{height:160px;width:100%;}
.goods_empty_inner h3{font: normal 24px/100px "Microsoft Yahei";color:#4f4f4f;text-align: center;text-indent: 3em;padding-top: 20px;}
.goods_add_inner h3{font: normal 24px/40px "Microsoft Yahei";color: #7ABD54;text-indent: 12em;margin-top:100px;background:url(../images/goodsadd.png) no-repeat 225px -101px scroll transparent;}
.btn-pay, .btn-continue{line-height: 100px;overflow: hidden;display: block;background:url(../images/goodsadd.png) no-repeat 0px -101px scroll transparent;}
 .btn-pay {float: right;width: 189px;height: 36px;margin: 0 25px 0 10px;_margin-right: 12px;background-position: 0 0;}
 .btn-continue {float: right;background-position: -90px -37px;width: 94px;height: 36px;}
.goods_empty_inner p {text-align: center;}
.goods_empty_inner p a{width:150px; display:block;text-align: center;height:40px;font:normal 16px/40px "Microsoft Yahei"; background:#57c366;margin: 0 auto;color:#ffffff;border-radius:5px;}
/*列表*/
.goods_list{margin-bottom: 20px;border: #E3E3E3 solid 1px;background: #ffffff;padding:0;}
.goods_tab{ width:100%; margin-top:0px;}
.goods_tr1{ background:#4ec05e; color:#fff;}
.goods_tr4{background: #FFFFFF;color: #474747;border-bottom: 1px solid #ddd;}
.goods_tr2{ background:#fff; height:120px; border-bottom:1px #ddd solid;}
.goods_tr3{ background:#fff; height:35px; border-bottom:1px #ddd solid;}
.goods_td1,.goods_td2,.goods_td3,.goods_td4,.goods_td5,.goods_td6,.goods_td7,.goods_td8,.goods_tdno{ padding:6px 0; font-weight:normal; margin:0 auto; text-align:center;}
.goods_tdno{ text-align:center; background:#f5f5f5; color:#333;}
.goods_td1{ width:140px;}
.goods_td2{ width:280px;}
.goods_td3{ width:130px;}
.goods_td4{ width:100px;}
.goods_td5{ width:100px;}
.goods_td6{ width:130px;}
.goods_tab tr th,.goods_tab tr td{padding: 6px 0;font-weight: normal;margin: 0 auto;text-align: center;}
.goods_tab tr td a,.goods_tab tr td .green{color:#4ec05e; font-weight:700;}
.clearb {clear: both;display: block;}
.yunfei {color: #999;margin: 15px;}
.goods_tab tr td a, .order_tab tr td .green {color: #4ec05e;font-weight: 700;}
.safe_a {color: #4ec07c;}
.shop_mod_hd{height: 30px;line-height: 30px;background: -moz-linear-gradient(top,#f8f8f8 1%,#efefef 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#f8f8f8),color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,#f8f8f8 1%,#efefef 100%);
background: -o-linear-gradient(top,#f8f8f8 1%,#efefef 100%);
background: -ms-linear-gradient(top,#f8f8f8 1%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#EFEFEF',GradientType=0);
background: linear-gradient(top,#f8f8f8 1%,#efefef 100%);
}
.shop_mod_hd .shop_tit{float: left;text-indent: 15px;font-size: 12px;font-weight: 400;}
.cart_foot{margin-bottom:20px;}
.cart_foot_l{float: left;}
.cart_foot_r{position: relative;float: right;text-align: right;margin-top: 20px;width:250px;}
.cart_foot_l a i {display:inline-block;width:16px;height:16px;margin:0 3px 0 10px;background: url(../images/icon16x16.png) no-repeat -120px 0;vertical-align: middle;}
.cart_foot_li{overflow: hidden;margin-bottom: 5px;clear: both;}
.cart_foot_lable{float: left;}
.cart_foot_cnt{float:right;}
.red{color:#d70000;}
.cart_foot_price{clear: both;width: auto;margin-bottom: 40px;border-top: #ccc solid 1px;_width: 300px;}
.cart_foot_price .c_tx3{color: #999;}
.final_price span{font-size: 22px;}
.ct_clearing_btn {position: relative;float: right;width: 165px;height: 33px;line-height: 33px;text-align: center;font-size: 18px;color: #fff;background: #E50007;}


.dd_mod_order{margin-bottom: 10px;padding-bottom: 20px;border: 1px solid #ccc;background: #fff}
.dd_mod_order_hd{height: 30px;line-height: 30px;border-top: #fff solid 1px;border-bottom: #e3e3e3 solid 1px;clear: both;background: -moz-linear-gradient(top,#f5f5f5 1%,#f1f1f1 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#f5f5f5),color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,#f5f5f5 1%,#f1f1f1 100%);background: -o-linear-gradient(top,#f5f5f5 1%,#f1f1f1 100%);background: -ms-linear-gradient(top,#f5f5f5 1%,#f1f1f1 100%);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#F1F1F1',GradientType=0);background: linear-gradient(top,#f5f5f5 1%,#f1f1f1 100%)}
.dd_mod_order_hd_tit{font-size: 16px;text-indent: 10px;font-family: "\5FAE\8F6F\96C5\9ED1";font-weight: 400}
.order_address_list li{padding: 5px 0 5px 30px;line-height: 22px;zoom: 1}
.order_address_list li:after{content: '';display: block;clear: both;height: 0;visibility: hidden}

.order_address_list li li{padding: 0}
.order_address_list .selected{background-color: #f5f5f5;color: #333}
.order_address_list .selected .radio_desp{color: #333}
.order_address_list .selected .c2{font-weight: 700}
.order_address_info{float: left;zoom: 1}
.order_address_info: after{content: '';display: block;clear: both;height: 0;visibility: hidden}
.order_address_info .c1{float: left;width: 20px}
.order_address_info .radio_wrap input{float: left;margin-top: 5px;margin-right: 5px;margin-top: 4px\9;#margin-top: 0;#margin-left: -5px;_margin-left: -4px}
.order_address_info .radio_desp{float: left;zoom: 1;overflow: hidden;font: 400 12px/22px Arial;color: #666;cursor: pointer}
.order_address_info .c2{float: left;width: 65px;overflow: hidden}
.order_address_info .c3{float: left;width: 620px}
.order_address_no_stock{clear: both;float: left;#display: inline;position: relative;padding: 2px 10px;margin-left: 85px;margin-top: 5px;border: 1px solid #febf0f;background-color: #fff8e5;color: #333;white-space: nowrap;word-break: keep-all;word-wrap: normal}
.order_address_no_stock a{color: #37f}
.order_address_no_stock .stock_arrow_out,.order_address_no_stock .stock_arrow_in{position: absolute;left: 20px;top: -10px;font: 400 12px/21px simsun}
.order_address_no_stock .stock_arrow_out{color: #ffbd0f}
.order_address_no_stock .stock_arrow_in{top: -9px;color: #fcf8e3}
.order_address_editor{position: relative;z-index: 1;float: right;padding-right: 20px}
.order_address_editor_active{z-index: 2}
.order_address_editor_active .order_address_editor_confirm_del{display: block}
.order_address_editor_cont a{margin-left: 10px;color: #37f}
.order_address_editor_confirm_del{display: none;position: absolute;top: 30px;right: 5px;padding: 10px;width: 160px;border: 1px solid #ccc;background-color: #fff;box-shadow: 2px 2px 2px rgba(0,0,0,0.1)}
.order_address_editor_confirm_del .confirm_arrow_out,.order_address_editor_confirm_del .confirm_arrow_in{position: absolute;right: 20px;font: 400 12px/21px simsun;color: #ccc}
.order_address_editor_confirm_del .confirm_arrow_out{top: -11px}
.order_address_editor_confirm_del .confirm_arrow_in{top: -10px;color: #fff}
.order_address_editor_confirm_del p{padding-bottom: 5px}
.order_address_editor_confirm_del a{margin-right: 5px}
.order_address_list .order_address_list_edit{padding-bottom: 20px;padding-left: 120px;background-color: #f5f5f5}
.order_address_form{float: left;width: 800px}
.order_address_form_item{padding: 5px 0;height: 24px;line-height: 24px;zoom: 1}
.order_address_form_item: after{content: '';display: block;clear: both;height: 0;visibility: hidden}
.order_address_form_item .form_hd{float: left;width: 75px}
.order_address_form_item .require{display: inline-block;zoom: 1;#display: inline;width: 12px;color: #f1680c;font-family: simsun}
.order_address_form_item .form_bd{float: left;width: 720px}
.order_address_form_item .dd_mod_tip_simple{padding-left: 10px}
.order_address_form .dd_mod_input_txt{height: 22px;padding: 0 5px;line-height: 22px}
.order_address_form .dd_mod_input_txt: focus{outline: 0;border: 1px solid #fa0}
.order_address_form .hint{color: #888}
.order_address_form .dd_mod_tip{padding-left: 5px}
.order_address_form .select_area{float: left}
.order_address_smartbox{display: none;position: absolute;left: 0;top: 25px;top: 24px\0;*top: 23px;width: 390px;border: 1px solid #c2c2c2;background: #fff;z-index: 2;box-shadow: 2px 2px 2px rgba(0,0,0,0.1)}
.order_address_smartbox_on{display: block}
.order_address_smartbox_link{display: block;text-indent: 6px;height: 26px;line-height: 26px}
.order_address_smartbox_item_on,.order_address_smartbox_link: hover{background-color: #f5f5f5;text-decoration: none;color: #333}
.order_address_smartbox_item_on .order_address_smartbox_link{color: #333}
.order_address_form .item_area{padding-top: 20px}
.order_address_form .item_address .form_bd{position: relative}
.order_address_form .item_address .dd_mod_input_txt{width: 380px}
.order_address_form .item_post .dd_mod_input_txt{width: 100px;ime-mode: disabled}
.order_address_form .item_user .dd_mod_input_txt{width: 100px}
.order_address_form .item_phone .txt_1{width: 100px;margin-right: 10px}
.order_address_form .item_phone .txt_2{width: 40px;margin-right: 5px}
.order_address_form .item_phone .txt_3{width: 70px;margin-right: 5px;margin-left: 5px}
.order_address_form .item_phone .txt_4{width: 40px;margin-left: 5px}
.order_address_form .item_signal .dd_mod_input_txt{width: 100px}
.order_address_form_action{clear: both;padding-top: 10px}
.order_address_form_action a{float: left;margin-right: 10px}
.order_address_other{padding-top: 10px;padding-left: 30px}
.order_address_other a{padding-right: 10px;color: #4ec05e;}
.mod_btn {cursor: pointer;overflow: hidden;display: inline-block;padding: 0 20px;height: 28px;border: 0 none;background-image: url("../images/btn.png");background-repeat: repeat-x;background-position: 0 -74px;text-decoration: none;vertical-align: middle;line-height: 28px;color: #FFF;}
.mod_btn {height: 26px;line-height: 26px;border-width: 1px;border-style: solid;border-color:#1fcd83;}
.order_address_editor_confirm_del a {margin-right: 5px;}
.mod_btn:hover {background-position: 0 -111px;color: #FFF;text-decoration: none;}
.mod_btn_bg1 {background-position: 0 0;color: #666;border-color: #ccc;}

.tab{padding-top:20px;margin-bottom:20px;position:relative;overflow:hidden;background:#fff;width:100%;margin:0 auto;font-family:'Roboto', sans-serif;line-height:1.5;font-weight:300;color:#888;-webkit-font-smoothing:antialiased;}
.tabs{display:table;position:relative;overflow:hidden;margin:0;width:100%;border-bottom:2px solid #6bcf5f;}
.tabs li{float:left;line-height:38px;overflow:hidden;padding:0;position:relative;margin-left:20px;}
.tabs a{background-color:#f6f6f6;color:#888;font-weight:500;display:block;letter-spacing:0;outline:none;padding:0 40px;text-decoration:none;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.tabs_item{display:none;padding:30px 0px 20px 20px;}
.tabs_item:first-child{display:block;}
.current a{color:#fff;background:#6bcf5f;}

.list_info{zoom: 1;padding-top: 10px;padding-bottom: 15px}
.list_info_line{clear: both;width: 723px;height: 1px;margin-bottom: 10px;line-height: 0;font-size: 0;overflow: hidden;background-color: #e6e6e6}
.list_info: after{content: "";display: block;clear: both;font-size: 0;visibility: hidden}
.list_info li{float: left;position: static;margin: 0 25px 20px 0;padding: 0;width: 162px;border: 0;background-color: transparent}
.list_info li .cuxiao_wrap{width: 100%;height: 20px;overflow: hidden}
.list_info li .cuxiao{float: left;height: 20px;line-height: 20px;padding: 0 5px;background-color: #ea7828;color: #fff}
.list_info li.disabled{position: relative;background-color: #e5e5e5}
.list_info li.disabled .global_tip{top: 40px;left: 5px;width: 130px;height: 20px;line-height: 21px;text-align: center;padding: 0}
.list_info li.disabled .content{padding: 0}
.list_info li label{display: block;width: 150px;height: 38px;line-height: 38px;padding-left: 10px;border: 1px solid #ddd;background: #fff;cursor: pointer}
.list_info li label input{float: left;#display: inline;margin-top: 13px;#margin-top: 9px;margin-right: 5px;cursor: pointer}
.list_info li label img{float: left;width: 120px;height: 32px;margin-top: 3px}
.list_info li label .ico_quick{float: left;width: 16px;height: 16px;margin: 11px 0 0 5px;line-height: 16px;line-height: 18px\9;overflow: hidden;background-color: #b9c3d0;color: #fff;text-align: center}
.list_info li .link_tx{margin-top: 10px}
.netpay_list_info li{height: 40px;margin-bottom: 10px}
.list_info .tit{width: auto}
.order_cargo .dd_mod_order_hd_tit {float: left;}
.order_cargo .dd_mod_order_hd_extra {float: right;padding-right: 20px;}
.order_cargo .dd_mod_order_hd_extra a {color: #6bcf5f;}
.dd_mod_order .order_cargo{padding-bottom:0px;border-bottom:none;}

.order_cashin .dd_mod_order_bd {padding: 0 30px 20px 30px;}
.cashin_row{zoom: 1;overflow: hidden;line-height: 20px;padding: 10px 0;border-bottom: 1px solid #e0e0e0;clear: both}
.cashin_row_c1{float: left;color: #666}
.cashin_row_c2{float: right}
.cashin_row_hd{font-weight: 700;color: #666}
.cashin_jifen_use{cursor: pointer;font-weight: 700;color: #666}
.cashin_jifen_use .dd_mod_arrow{margin-left: 3px;margin-right: 5px}
.cashin_row_bd{zoom: 1;padding-top: 5px}
.cashin_row_bd: after{content: '';display: block;clear: both;height: 0;visibility: hidden}
.cashin_stat{clear: both;padding: 15px 0px 40px}
.cashin_stat_price{text-align: right;padding-bottom: 5px;font-size: 14px;height: 35px;line-height: 35px;border-bottom: #d3d3d3 solid 1px;color: #929292}
.cashin_stat_price .co_txt1{font-size: 30px;font-weight: 400;padding-left: 15px;font-family: arial}
.cashin_stat_submit_wrap{position: relative;clear: both;margin-top: 10px;zoom: 1}
.cashin_stat_submit_wrap: after{content: '';display: block;clear: both;height: 0;visibility: hidden}
.cashin_stat_submit{float: right;width: 120px;height: 40px;overflow: hidden;background:#faa701;color: #fff;
text-align: center;font: normal 14px/40px "Microsoft Yahei";}
.cashin_stat_submit_disabled{background-position: -130px -30px}
.cashin_stat_row{zoom: 1;overflow: hidden;padding: 7px 0;color: #333;line-height: 22px}
.cashin_stat_row a{color: #1c7ada}
.cashin_stat_row_c1{float: left;width: 870px;text-align: right}
.cashin_stat_row_c2 {float: right;width: 60px;text-align: center;}
.cashin_stat_row_c2 a {color: #37f;}
.cashin_stat_row_c1 strong{color: #666}
.cashin_stat_row .ta_r strong{color: #737373}
.co_txt1 {color: #E00;}
.order_address_list .order_address_list_edit {padding-bottom: 20px;padding-left: 120px;background-color: #f5f5f5;}
.order_address_info {float: left;zoom: 1;}
.order_address_form {float: left;width: 800px;}
.order_address_form_item {padding: 5px 0;height: 24px;line-height: 24px;zoom: 1;}
.order_address_form .item_area {padding-top: 20px;}
.order_address_form_item .form_hd {float: left;width: 75px;}
.order_address_form_item .form_bd {float: left;width: 720px;}
.order_address_form_item .require {display: inline-block;zoom: 1;width: 12px;color: #f1680c;font-family: simsun;}
.select_area {z-index: 40;height: 20px;padding-bottom: 0;}
.order_address_form .dd_mod_input_txt {height: 22px;padding: 0 5px;line-height: 22px;}
.order_address_form .item_user .dd_mod_input_txt {width: 100px;}
.no_address{font: normal 12px/35px "Microsoft Yahei";text-align:left;}
.pwindow{top: 20px;left: -65px;}